* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1f;
  color: #f0f0f0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(64px + 80px) 64px 0px 64px;
}

.hero-content {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.logo {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-title {
  font-size: 56px;
  font-weight: bold;
  color: purple;
  margin-bottom: 16px;
}

#hero-subtitle {
  font-size: 56px;
  color: #f0f0f0;
  margin-bottom: 32px;
}

#hero-cta {
  font-size: 24px;
  color: #5a5a5a;
  margin-bottom: 32px;
}

/* .logo {
  background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(72px);
} */

#vite-logo {
  max-width: 320px;
  max-height: 320px;
}

.rounded-pill {
  background-color: #532cbe;
  padding: 8px 16px;
  border-radius: 9999px;
  color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 5px;
}

.card {
  background-color: #2b2b2b;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
  width: 320px;
}

.cards-container {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}